$black: black;
$white: white;
$primary-blu: #0066FF;
$primary-cyan: #06FAF8;
$primary-green: #02FD05;
$primary-yellow: #FCFC03;

$c-little-monitors:#E5F2F6;
$c-little-monitors-two: #EAF0FF;
$c-little-monitors-three: #F0FBF2;
