* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Poppins, sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  position: relative;
}

.dash-menu {
  position: fixed;
  height: 100vh;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dash-menu .logo:hover {
  opacity: 0.9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dash-menu nav ul li {
  list-style: none;
  padding: 15px;
}

.dash-menu nav ul li a {
  color: #747474;
  font-size: 18px;
  text-decoration: none;
}

.dash-menu nav ul li:hover {
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dash-menu nav ul #active {
  color: black;
  background-color: #6e6dc23b;
  border-radius: 5px;
}

.dash-content {
  padding: 40px 60px 60px 300px;
}

.dash-content .line-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dash-content .line-report div {
  color: #18B1A8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.dash-content .line-report div p {
  font-weight: bold;
}

.dash-content .line-report div a {
  color: gray;
  margin-left: 10px;
  text-decoration: none;
}

.dash-content .line-report div a:hover {
  color: black;
}

.dash-content .c-main-ecg {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #0066FF;
  padding: 50px;
  border-radius: 30px;
}

.dash-content .c-main-ecg .main-ecg div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 5px 0;
}

.dash-content .c-main-ecg .main-ecg div p {
  color: white;
  font-size: 50px;
}

.dash-content .c-main-ecg .main-ecg div p small {
  font-size: 25px;
}

.dash-content .c-main-ecg .main-ecg div a {
  text-decoration: none;
  color: white;
}

.dash-content .c-main-ecg .main-ecg div .dismiss:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dash-content .c-main-ecg .main-ecg .hr {
  border-bottom: 1px solid white;
}

.dash-content .c-main-ecg .main-ecg .hr p {
  color: #02FD05;
  font-size: 60px;
}

.dash-content .c-main-ecg .main-ecg .spo {
  border-bottom: 1px solid white;
}

.dash-content .c-main-ecg .main-ecg .spo p {
  color: #06FAF8;
  font-size: 60px;
}

.dash-content .c-main-ecg .main-ecg .resp {
  border-bottom: 1px solid white;
}

.dash-content .c-main-ecg .main-ecg .resp p {
  color: #FCFC03;
  font-size: 60px;
}

.dash-content .c-main-ecg .main-ecg .n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dash-content .c-main-ecg .main-ecg .n .n-uno {
  font-size: 45px;
}

.dash-content .c-main-ecg .main-ecg .n p {
  font-size: 30px;
}

.dash-content .c-main-ecg .display {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.dash-content .container-monitors {
  margin: 20px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "ventilazione-pressometrica ventilazione-pressometrica" "pompa-infusionale ossigeno";
  gap: 20px;
}

.dash-content .container-monitors .valori .testi {
  font-size: 20px;
}

.dash-content .container-monitors .valori .numero {
  font-size: 60px;
}

.dash-content .container-monitors .ventilazione-pressometrica {
  border-radius: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ventilazione-pressometrica;
  background-color: #E5F2F6;
  color: #0066FF;
}

.dash-content .container-monitors .ventilazione-pressometrica .vpcontent {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  /* width: 70%; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0066FF;
  text-align: center;
}

.dash-content .container-monitors .pompa-infusionale {
  border-radius: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pompa-infusionale;
  background-color: #EAF0FF;
}

.dash-content .container-monitors .pompa-infusionale .title {
  color: #6F6DC2;
}

.dash-content .container-monitors .pompa-infusionale .valori {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6F6DC2;
}

.dash-content .container-monitors .pompa-infusionale .valori .testi {
  font-size: 20px;
}

.dash-content .container-monitors .pompa-infusionale .valori .numero {
  font-size: 60px;
}

.dash-content .container-monitors .ossigeno {
  border-radius: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ossigeno;
  background-color: #F0FBF2;
  color: #18b1a8;
}

.dash-content .container-monitors .ossigeno .vpcontent {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  /* width: 70%; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #18b1a8;
  text-align: center;
}

.dash-content .container-monitors .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dash-content .container-monitors .title img {
  max-width: 40px;
  margin: 0 10px 0 0;
}

.dash-content .container-monitors .title h4 {
  font-size: 26px;
}

.dash-sidebar {
  padding: 40px;
  background-color: rgba(210, 210, 210, 0.171);
}

.dash-sidebar .profilo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dash-sidebar hr {
  background-color: #cfcaca;
  width: 100%;
  height: 1px;
}

.dash-sidebar .title {
  font-weight: bold;
  font-size: 24px;
  color: #316EFF;
}

.dash-sidebar p {
  text-align: justify;
  font-size: 14px;
  margin: 10px 0;
}

.dash-sidebar button {
  background-color: #0066FF;
  border-radius: 25px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.dash-sidebar button:hover {
  opacity: 0.9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*# sourceMappingURL=style.css.map */