*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: Poppins, sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
   
}

.dash-menu{
    position: fixed;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    .logo:hover{
        opacity: 0.9;
        transition: all 0.5s ease;
    }
    nav{
        ul{
            li {
                list-style: none; 
                padding: 15px;
                    
                a {
                    color: #747474;
                    font-size: 18px;
                    text-decoration: none;
                }
                &:hover{
                    font-weight: bold;
                    transition: all 0.5s ease;
                }
            }
            #active{
                color: black;
                background-color: #6e6dc23b;
                border-radius: 5px;
            } 
        }
    }
}

.dash-content{
    padding: 40px 60px 60px 300px;
    .line-report{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div{
            color: #18B1A8;
            display: flex;
            text-transform: uppercase;

            p{
                font-weight: bold;
            }

            a{
                color: gray;
                margin-left:10px;
                text-decoration: none;
                &:hover{
                color: black;
                }
            }
            
        }
    }
    .c-main-ecg{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        background-color: #0066FF;
        padding: 50px;
        border-radius: 30px;        
        .main-ecg{
            
            div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0 5px 0;
                p{
                    color:white;
                    font-size: 50px;
                    small{
                        font-size: 25px;
                    }
                }
                a{
                    text-decoration: none;
                    color: white;
                } 

                .dismiss:hover{
                    opacity: 0.8;
                    transition: all 0.5s ease;
                }
            }
            .hr{
                p{
                    color: #02FD05;
                }    
                border-bottom: 1px solid white;
            }
            .spo{
                p{
                    color: #06FAF8;
                }
                border-bottom: 1px solid white;
            }
            .resp{
                p{
                    color: #FCFC03;
                }
                border-bottom: 1px solid white;
            }
            .n{
                display: flex;
                flex-direction: column;
               p{
                   font-size: 30px;
               }
            }

        }
        .display{
            background-color: white;
            height: 100%;
            width: 100%;
            border-radius: 20px; 
        }
    }


    // SCHERMI PICCOLINI
    .little-ecg{
        margin: 15px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "ventilazione-pressometrica ventilazione-pressometrica"
        "pompa-infusionale ossigeno";
        gap: 15px;
        // grid areas nomi
        .ventilazione-pressometrica{ grid-area: ventilazione-pressometrica;}
        .pompa-infusionale{ grid-area: pompa-infusionale;}
        .ossigeno{ grid-area: ossigeno;}


        .ecg{
            background-color: #007da769;
            border-radius: 15px; 
            padding: 25px;
            height: 200px;
            &:hover{
            background-color: #0066FF;
            transition: all 0.5s ease;
            }
            p{
                // color: #18B1A8;
                color: white;
                font-size: 20px;
            }

            .valori-vp{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 2em;
                margin: 10px 0 0 0;
                p{
                    font-size: 2em;
                }
            }

            .valori-pi{
                margin: 10px 0 0 0;
                p{
                    font-size: 2em;
                } 
            }
            .valori-o{
                display: flex;
                flex-direction: column;
                margin: 10px 0 0 20px;
                p{
                    font-size: 2em;
                }
            }
        }
        
    }
    
}

.dash-sidebar{
    padding: 40px;
    background-color: rgba(210, 210, 210, 0.171);
    .profilo{
        display: flex;
        flex-direction: row;
        
    }
    hr{
        background-color: #cfcaca;
        width: 100%;
        height: 1px;
    }
    .title{
        font-weight: bold;
        font-size: 24px;
        color: #316EFF;
    }
    p{
        text-align: justify;
        font-size: 14px;
        margin: 10px 0;
    }

    button{
        background-color: #0066FF;
        border-radius: 25px;
        color: white;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top: 10px;
        outline: none;
            &:hover{
                opacity: 0.9;
                transition: all 0.5s ease;
            }
    }
    
}