@import "./settings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.settings {
  max-width: 1000px;
  margin-left: 30%;
  margin-top: 5%;
}

.dash-menu{
  position: fixed;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  .logo:hover{
      opacity: 0.9;
      transition: all 0.5s ease;
  }
  nav{
      ul{
          li {
              list-style: none; 
              padding: 15px;
                  
              a {
                  color: #747474;
                  font-size: 18px;
                  text-decoration: none;
              }
              &:hover{
                  font-weight: bold;
                  transition: all 0.5s ease;
              }
          }
          #active{
              color: #000000;;
              background-color: #6e6dc23b;
              border-radius: 5px;
          } 
      }
  }
}